/* We're using Tailwind for most styling, 
   only add custom styles that can't be achieved with Tailwind */

.logo {
  height: 2em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 1em rgba(100, 108, 255, 0.6));
}

/* Hand tracking video needs to be hidden but accessible to the model */
video {
  position: absolute;
  visibility: hidden;
}
