@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

*{
    font-family: "Inclusive Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }
  
  html, body {
    overscroll-behavior: none; /* prevents scroll chaining */
    overflow: hidden; /* prevents page scroll */
    touch-action: none; /* disables gestures like panning/zooming */
    height: 100%;
    margin: 0;
  }